{% extends 'main.html' %}
{% block content %}

<h1>Ted Nigga</h1>

<table>
    <thead>
        <tr>

            <th>Title</th>
            <th>Description</th>
            <th>Update</th>
            <th>Supprimer</th>
        </tr>
    </thead>
    <tbody>
     {% for project in projects %}
       <tr>

            <td><a href="/project/{{project.id}}">{{project.title}}</a></td>
            <td>{{project.description}}</td>
            <td><a href="{% url 'update-project' project.id %}">Edit</a></td>
            <td><a href="{% url 'delete-project' project.id %}">Delete</a></td>
        </tr>
     {% endfor %}
    </tbody>
</table>
{% endblock content %}

